:root {
    --green:rgba(43, 96, 54, 1);
    --black: rgba(0, 0, 0, 1);
    ;
  }

body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header{
    position: sticky;
    top: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
}
.navbar{
    /* margin-top: ; */
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    /* margin-top: 30px; */
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-radius: 30px;
    margin: 30px;
    background-color: white;

}

.navbar-links ul{
    display: flex;

    
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: var(--green);
    padding: 1rem;
    display: block;
  
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 36px;

}

.navbar-button{
    max-width: 160px;
    color: white;
    background-color: black;
    border-radius: 74px;
    padding: 12px;
}

.toggle-button{
     position:absolute; 
     top: 3rem;
    right: 3rem; 
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width:100%;
    background-color: black;
    border-radius: 10px;
}

.hero{
    height: 90vh;
    width: 100%;
    /* background-image: url(/image.jpg); */

}

.hero-wrapper{
    margin-top: 9rem;
    margin-left: 270px;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
 
}

.hero-maintext{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    /* margin: 0; */

}

.hero-maintext-heading{
    margin: 0;
    padding: 0%;
    font-family: 'Outfit' ;
  font-size: 153px;
font-weight: 600;
line-height: 193px;
letter-spacing: 0em;
text-align: left;

}

.left{
    animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s; /* don't forget to set a duration! */
}

.right{
    animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */

}

.middle{
    color: white;
    animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
}

.hero-maintext-text{
 color: var(--green); 
margin: 0;
font-family: Poppins;
font-size: 39px;
font-weight: 600;
line-height: 59px;
letter-spacing: 0em;
text-align: left;

    
}

.hero-button{
    margin-top: 3rem;
    background-color: var(--black);
    color: white;
    font-family: Poppins;
font-size: 34px;
font-weight: 600;
line-height: 59px;
letter-spacing: 0em;
text-align: center;
border-radius: 30.25px;
/* width: 320px;
height: 99.35px; */
padding: 1rem 1.5rem;


}
.hero-person{
position: absolute;
left: 970px;
top: 320px;
width: 455px;
height: 564.69px;
/* z-index:-1 ; */
animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
animation-duration: 1s; /* don't forget to set a duration! */
}


.green-ellipse{
position: relative;
background: rgba(43, 96, 54, 0.85);
filter: blur(105.682px);
width: 365px;
height: 356.55px;
left: 367px;
top: -400px;
z-index: -1;
}

.hero-background{
    position: relative;
    top: -800px;
    left: -200px;
    z-index: -2;

}

.black-ellipse{

}

.buisness{
    height: 45vh;
    border: 1px solid black;
}

.buisness-heading{
    font-family: Outfit;
font-size: 31px;
font-weight: 400;
line-height: 39px;
letter-spacing: 0em;
text-align: center;

}

.buisness-imagewrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.one{
    width: 268px;
    height: 74.23px;
}